* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #012933;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
form {
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	background: #1E849B;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 550px;
	width: 100%;

}

.form-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin-bottom: 20px;
}

.form-field label{
	color: #fafafa;
	flex: 1;
	font-family: sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.form-field input{
	width: 100%;
	flex: 1;
}

.btn{
	height: 50px;
	border: 0;
	background-color: #ea9400;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	color: #fafafa;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.btn:active{
	color: #ea9400;
	background-color: #fafafa;
	border: 3px solid #ea9400;
}

input[type="file"]{
	padding: 5px;
	background: #fff;
	border: 1px solid #A9A9A9;
}

.hidden {
	display: none !important;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 30px;
}

.result img{
	width: 100%;
}